.light {
  .border {
    border: 1px solid #ececec;
  }

  .navigator-container .content {
    background-color: #fff;
  }
}

.dark {
  .border {
    border: 1px solid #282828;
  }

  .navigator-container .content {
    background-color: #2c2e2f;
  }
}

// 搜索栏
.empty-result {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #a4aab5;
}

// 导航选项
.navigator-container {
  display: flex;
  flex-wrap: wrap;

  .box {
    position: relative;
    width: calc(25% - 20px); /* 每个div宽度为25%，减去边距的宽度 */
    margin-bottom: 10px;
    height: 90px;
    margin: 15px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;

    img {
      width: 40px;
      height: 40px;
      margin: 0 10px;
      border-radius: 50%;
      overflow: hidden;
    }

    .desc {
      width: calc(100% - 70px);
      div {
        width: 100%;
      }

      .title {
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .small {
        font-size: 12px;
        color: #a0a1a1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .box:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.2s;
  }

  .box:hover .content {
    transform: translateY(-10px);
  }

  .box:hover:before {
    height: 10px;
  }

  .box:hover .content {
    box-shadow: 0px 0px 20px rgba($color: #004ca3, $alpha: 0.1);
  }
}

.modal-container {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 10s ease;
}

.scroll {
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .navigator-container {
    .box {
      width: calc(33% - 20px);
    }
  }
}

@media screen and (max-width: 768px) {
  .navigator-container {
    .box {
      width: calc(50% - 20px);
    }
  }
}

@media screen and (max-width: 480px) {
  .navigator-container {
    .box {
      width: 100%;
    }
  }
}
